
<img style="width:100%; max-height: 200px;" id="footerImg" src="{{ headerUrl }}">
<menu>
    Bienvenue {{ nom }}<br>
    {% if nbArticlePanier is defined %}
        {{ nbArticlePanier }} article{% if nbArticlePanier > 1 %}s{% endif%} dans le panier<br>
    {% endif %}
    Menu {{ role }}:
    {% for key,val in menu %}
        {% if key == 'Truman Show' %}
            <li><button onclick="window.location.href='{{ val }}';">{{ key }}</button></li>
        {% else %}
            <li><button onclick="window.location.href='{{ path(val) }}';">{{ key }}</button></li>
        {% endif %}
    {% endfor %}
</menu>