{% extends 'vente/vente.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block titre_principal %}Liste des produits : {% endblock %}

{% block vue %}
    {% if produits is defined %}
        <table>
        <tr>
            {% for key in produits|first|keys|slice(1,-1) %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for produit in produits %}
        <tr>
            <td>{{ produit['Libelle'] }}</td>
            <td>{{ produit['Prix'] }}</td>
            <td>{{ produit['Quantite'] }}</td>
            <td>
            <td>{# <button onclick="window.location.href='{{ path('panier_ajouter', {'idProd':produit['id'], 'quantite':1}) }}';">Ajouter au panier</button></td> #}
                {% if (produit['Commander']) is defined %}
                    {{ form(produit['Commander']) }}
                {% else %}
                    Rupture de stock
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Il n'y a pas de produits</p>
    {% endif %}
{% endblock %}